<div class="container">
<form #form="ngForm" (submit)="onSubmit()">
    <input class="inputfield" type="text" placeholder="enter city" name="city" [(ngModel)]="city">
    <button class="button" type="submit">submitt</button>
</form>



<div class=" container-fluid upper-section">
    <div class="container temperatureone">
        <h1 style="margin-top: 30px;"> {{city}}</h1>
   <h2 style="margin-top: 30px;"> {{temperature}} °F</h2></div>
</div>
<div class="lowersection">
<div class="container card-box">
    <h5>Live data</h5>
   <p>Temperature: {{temperature}} °F</p>
   <p>Wind speed: {{wind}}</p>
   <p>Humidity: {{humidity}}</p>
   <p>Pressure: {{pressure}}</p>
  </div>
</div>
</div>
      
