/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://images.pexels.com/photos/2403402/pexels-photo-2403402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
   justify-content: center;
   text-align: center;
}

